#music-page {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
#top-bar {
  position: absolute;
  display: none;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}
#nav-bar {
  max-width: 600px;
  background-color: teal;
  display: flex;
  border-radius: 0 20px 20px 0;
  flex: 1;
  align-items: center;
  transform: translateX(-100%);
  transition: 0.4s;
}
.m-nav-item {
  font-family: var(--font-light);
  flex: 1;
  display: flex;
  justify-content: center;
  color: #ddd;
  cursor: pointer;
}
#logo-wrap {
  margin-top: 2px;
  width: 40px;
  height: 40px;
  background-image: url(/assets/images/component/music_logo.png);
  background-size: 50px;
  background-position: 50%;
  cursor: pointer;
}
#menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
#bar-wrap {
  cursor: pointer;
  width: 24px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bar {
  width: 24px;
  height: 2px;
  background-color: #fff;
  transition: 0.2s;
}
#search-wrap {
  max-width: 0;
  display: none;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
#search {
  max-width: 160px;
  color: #222;
  border: none;
  padding-left: 10px;
}
#search-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
#m-body {
  position: absolute;
  width: 100%;
  height: 100%;
}
#m-child {
  position: absolute;
  width: 510px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#list-wrap {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 400px;
  height: 0;
  left: 100%;
  transform: translateX(-100%);
}
#cd-wrap {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(/assets/images/audio/time_to_rise.jpg);
  background-size: cover;
  background-position: 50%;
  border: solid 3px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: playing 10s linear infinite;
}
#center {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  border: solid 4px rgba(255, 255, 255, 0.9);
}
#music-indicator {
  width: 4px;
  height: 50%;
  position: absolute;
  left: calc(100% - 10px);
  top: 50%;
  transform: translate(20px, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.indicator {
  width: 4px;
  height: 100px;
  background-color: rgb(0, 46, 46);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.m-active {
  font-family: var(--font-regular);
}
.active {
  background-color: rgb(2, 241, 241);
}
#current-play {
  position: absolute;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 100%;
  transform: translateY(-100%) translateX(100%);
  display: flex;
  align-items: center;
  color: #fff;
  overflow: hidden;
}
.playing-wrap {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  animation: forward 20s linear infinite;
}
.playing-song {
  font-family: var(--font-light);
  margin: 0 40px;
}
#list-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  top: 50%;
  transform: translateY(-50%);
  display: none;
  grid-template-columns: 150px 250px;
  grid-template-rows: 30px 1fr;
  grid-template-areas: "title title" "blank data";
}
#list-title {
  grid-area: title;
  font-size: 24px;
  text-align: center;
  font-style: italic;
}
#data-wrap {
  grid-area: data;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.list-data {
  text-align: left;
  margin: 5px 0;
  font-family: var(--font-light);
  cursor: pointer;
  transition: 0.2s;
}
.list-data-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.option {
  font-size: 12px;
  cursor: pointer;
  width: 16px;
  display: flex;
  justify-content: center;
}
.dropbox {
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 120px;
  transition: 0.2s;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  opacity: 0;
}
.d-download,
.d-add-to-playlist {
  padding: 5px 16px;
  font-size: 12px;
  transition: 0.1s;
}
.d-download:hover,
.d-add-to-playlist:hover {
  background-color: #eee;
}
.current {
  font-family: var(--font-regular);
  color: rgb(1, 49, 49);
  font-weight: 900;
}
#music-player {
  width: 300px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
}

@keyframes forward {
  to {
    transform: translateX(-100%);
  }
}
@keyframes playing {
  to {
    transform: translate(-50%, -50%) rotate(720deg);
  }
}
